[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = http://git.drupal.org/project/admin_menu.git
[submodule "sites/all/modules/pathauto"]
	path = sites/all/modules/pathauto
	url = http://git.drupal.org/project/pathauto.git
